	*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.slide-container{
    position: relative;
    width: 100%;
}
.slide img{
    width: 100vw;
    height: 100vh;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
.arrow{
    cursor: pointer;
    position: absolute;
    top: 300px;
    color: white;
    
    height: 510px;
    width: 510px;
}
.prev{
left: 10px;
}
.next {
    right: 10px;
}

.slide{
    display: none;
}
